// @import '@theme/styles/themes';

// @include nb-install-component() {
//   /deep/ .form {
//     display: flex;
//     flex-direction: column;

//     .text-label {
//       margin-top: 1.5rem;
//     }
//   }
// }

@import '../../../@theme/styles/themes';

.color-box {
  border-radius: 50%;
  border: 1px solid grey;
  width: 17px;
}

.icon {
  display: inline-block;
  text-align: center;

  i:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

agm-map {
  height: 300px;
}
